{{extend './layout.html'}}

{{block 'content'}}
    <h1>{{title}}</h1>

    <h3><a href="/stu">1. 学生信息管理</a></h3>
    <h3><a href="/test">2. JavaScript原生Ajax测试</a></h3>
    <h3><a href="/test/ajax02">3. JavaScript中Ajax的get和post请求处理</a></h3>
    <h3><a href="/test/ajax03">4. JavaScript中Ajax的同步和异步处理</a></h3>
    <h3><a href="/test/ajax04">5. JavaScript中Ajax的封装</a></h3>
    <h3><a href="/test/ajax05">5. jQuery中的Ajax操作</a></h3>
    <h3><a href="/test/ajax06">6. 学生信息管理的Ajax实战操作</a></h3>


    <h3>stu的api接口</h3>
    <ul>
        <li>获取所有信息(get)：/api/stu   </li>
        <li>获取单条信息(get)：/api/stu/find?id=? </li>
        <li>添加信息(post)：/api/stu/add   </li>
        <li>修改信息(post)：/api/stu/edit   </li>
        <li>删除信息(get)：/api/stu/del?id=?   </li>
    </ul>
{{/block}}