<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>学生信息管理</title>
    <!-- Bootstrap -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <style>
      body{background-color:#eee;}
    </style>
  </head>
  <body>   
    <!-- 页面容器开始 -->
    <div class="container">
      <div class="row">
        <!--页面左侧主体开始-->
        <div class="col-md-6  text-center col-md-offset-3">
            <h2>编辑学生信息</h2>
            <br>
            <a type="button" href="/member" class="btn btn-primary btn-sm">浏览信息</a>
            <a type="button" href="/" class="btn btn-primary btn-sm">返回首页</a>
            <br><br>
            <form action="/member/edit" method="post" class="form-horizontal">
            <input type="hidden" name="id" value="{{ mem.id }}">
            <div class="form-group">
              <label for="inputEmail3" class="col-sm-3 control-label">会员姓名：</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" name="name" value="{{mem.name}}">
              </div>
            </div>
            
            <div class="form-group">
              <label for="inputEmail3" class="col-sm-3 control-label">邮箱地址：</label>
              <div class="col-sm-9">
                <input type="email" class="form-control" name="email" value="{{mem.email}}">
              </div>
            </div>
            <div class="form-group">
              <label for="inputEmail3" class="col-sm-3 control-label">联系电话：</label>
              <div class="col-sm-9">
                <input type="number" class="form-control" name="phone" value="{{mem.phone}}">
              </div>
            </div>

            <div class="form-group">
              <label for="inputEmail3" class="col-sm-3 control-label">会员等级：</label>
              <div class="col-sm-9 text-left">
                <input type="radio" name="levelofmember" value="0" {{ if mem.levelofmember == 0  }} checked {{/if}} > 普通会员 
                <input type="radio" name="levelofmember" value="1" {{ if mem.levelofmember == 1  }} checked {{/if}} > VIP会员
                <input type="radio" name="levelofmember" value="2" {{ if mem.levelofmember == 2  }} checked {{/if}} > 银牌会员 
                <input type="radio" name="levelofmember" value="3" {{ if mem.levelofmember == 3  }} checked {{/if}} > 金牌会员  
              </div>
            </div>

            <div class="form-group">
              <div class="col-sm-offset-3 col-sm-9 text-left">
                <button type="submit" class="btn btn-primary">提交</button>
              </div>
            </div>
          </form>
        </div>
        <!--页面左侧主体开始-->
      </div>
    </div>
    <!-- 页面容器结束 -->
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>  
</body>
</html>