/*首页面的css样式*/

/*幻灯图片样式*/


/* 小米闪购 */
.xm-plain-box{
	margin-top: 20px;
}
.box-hd-float{
	float: left;
	margin-left: 10px;
}

.box-hd-item1{
	width: 234px;
	height: 339px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color:red ;
	background: #f1eded;
	text-align: center;
}

.round{
	font-size: 21px;
	color: #ef3a3b;
	padding-top: 35px;
	margin-bottom:20px ;
}

.desc{
	color: rgba(0,0,0,.54);
	font-size: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.countdown{
	    width: 168px;
	    margin: 28px auto 0;
}

.countdown span{
	width: 46px;
	    height: 46px;
	    background: #605751;
	    color: #fff;
	    font-size: 24px;
	    line-height: 46px;
	    float: left;
}

.countdown i{
	    width: 15px;
	    float: left;
	    height: 46px;
	    line-height: 46px;
	    color: #605751;
	    font-size: 28px;
	    font-style: normal;
}

.box-hd-item2{
	background-color: white;
	width: 234px;
	height: 339px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color:orange ;
}

.thumb{
	display: block;
	width: 160px;
	margin: 0 auto 22px;
}

.thumb img{
	margin-top: 20px;
	width: 160px;
	height: 160px;
}

.thumb-title{
	margin: 0 20px 3px;
	font-size: 14px;
	font-weight: 400;
	color: #212121;
	text-align: center;
}

.thumb-desc{
	text-align: center;
	height: 18px;
	margin: 15px 20px 12px;
	font-size: 12px;
	color: #b0b0b0;
}

.thumb-price{
	text-align: center;
	margin: 0;
	color: #ff6709;
}

.thumb-price del{
	color: #b0b0b0;
	margin-left: 5px;
}

.box-hd-item3{
	background-color: white;
	width: 234px;
	height: 339px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color:skyblue ;
}

.box-hd-item4{
	background-color: white;
	width: 234px;
	height: 339px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color:green ;
}

.box-hd-item5{
	background-color: white;
	width: 234px;
	height: 339px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color:red ;
}


#swiper-controls{
	/* background-color: #008000; */
	    position: absolute;
	    right: 50px;
	    top: 24px;
}

.swiper-flashsale{
	    display: inline-block;
	    width: 24px;
	    height: 16px;
	    padding: 3px 5px;
	    margin-left: -5px;
	    border: 1px solid #e0e0e0;
	    font-size: 16px;
	    line-height: 16px;
	    /* -webkit-transition: color .5s; */
	    transition: color .5s;
	    color: #b0b0b0;
	    text-align: center;
	    cursor: pointer;
}

#swiper-flashsale-prev:hover{
	color: #ff6709;
}


#swiper-flashsale-next:hover{
	color: #ff6709;
}

